/*========== Google Font ==========*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:wght@400;500;600&family=Oswald&family=Roboto:wght@400;500&display=swap');
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    --title-color: #77908c;
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 99%);
    --container-color: #dee3dc;
    --border-color: hsl(0, 0%, 94%);
    --gradient-color: linear-gradient(180deg, #ffffff, #d682ff);
    --purple-color: #A020F0;
  
    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Josefin Sans', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .7rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-normal: 1;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body {
    width: 98vw;
    margin: auto;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s; /*for dark theme animation*/
}

div .navbar ul li {
    list-style: none;
    letter-spacing: .1rem;
    font-size: var(--small-font-size);
}
div .navbar ul li button {
    background: none;
    letter-spacing: .1rem;
    font-size: var(--small-font-size);
    border: 2px solid var(--text-color);
    padding: .4rem 1rem;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}
div .navbar ul {
    display: flex;
    gap: 2.5rem;
    margin-left: auto;
}
div .navbar {
    background: #dfe5db;
    display: flex;
    line-height: 3.5rem;
    padding: 0 2rem;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
}
div .navbar h2 {
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    
}

img {
    height: 200px;
    width: auto;
}