/*========== Google Font ==========*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:wght@400;500;600&family=Oswald&family=Roboto:wght@400;500&display=swap');
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    --text-color: #121212;
    --text-color-light: #a6a6a6;
    --body-color: #f5f5f5;
    --container-color: #dee3dc;
    --border-color: hsl(0, 0%, 94%);
    --gradient-color: linear-gradient(180deg, #ffffff, #d682ff);
    --purple-color: #A020F0;
  
    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Josefin Sans', sans-serif;
    --biggest-font-size: 5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .7rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-normal: 1;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  width: 100vw;
  height: 650px;
}

header nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  line-height: 3rem;
  
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 0 2rem 0 2rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

header nav ul .logo {
  font-size: 2rem;
}